body {
    background: #f3f2f0;
}
.navbar {
    opacity: 0.9;
    background-color: #A7B99E;
}
video {
    object-fit: cover;
    width: 100%;
    height: 100vh;
    top:0;
    left:0;
    z-index: -1;
}
.center {
    display: flex;
    justify-content: center;
}
.header {
color: white;
position: absolute;
font-family: "Montserrat", system-ui;


}
#home, .blockOne {
    background-color: #5f6063;
}


.title {
    font-size: 30px;
    color: #f3f2f0 ;
    font-family: "Montserrat", system-ui;


}

.blockTwo {
    display: flex;
    justify-content: space-around;
}
.titleTwo {
    font-size: 20px;
    font-weight: bold;
    font-family: "Montserrat", system-ui;

}
.but {
    background-color: #CADABF;
    margin-top: 20px;
    padding: 20px;
    border-color: grey;
    border-radius: 6%;
    font-weight: bolder;
    color: #5f6063;
    font-family: "Montserrat", system-ui;

}
.quote {
    background: #FEFAE0;
    height: 150px;
    font-family: "Montserrat", system-ui;

}
.rounded {
    border-top: 8px solid #AFC8AD;
  border-radius: 5px;
}
.slideFrame {
    width: 700px;
    height: 80%;
}
.slideBox {
    display: flex;
    justify-content: center;
} 
.qB {
    width: 1000px;
}
.teamContainer {
    background-image: url(sectionImages/team.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 250px;
    font-family: "Montserrat", system-ui;

}
.serviceContainer {
    background-image: url(sectionImages/mountains.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 250px;
    font-family: "Montserrat", system-ui;
    font-family: "Montserrat", system-ui;


}
.bookingContainer {
    background-image: url(sectionImages/contact.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 250px; 
    font-family: "Montserrat", system-ui;

}
.subHeader {
    color: #fad149;
    font-weight: bolder;
    padding: 20px;
    font-family: "Montserrat", system-ui;
}

.logo {
    color: #fad149;
    font-family: "Playwrite CU", cursive;

}

.teamText {
    text-align: center;
    font-family: "Montserrat", system-ui;

  

}
.teamCards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.serviceCard {
width: 100px;
}
.formBox {
    padding: 20px;
    font-family: "Montserrat", system-ui;

}
.formFrame {
    padding: 20px;
    border: #5f6063;
    border-style: double;
}
.cardTitle {
    color: white;
    text-decoration: none;
}
.box {
    background-color: #fad149;
    border-radius: 3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%;
}
.cardText {
    color: white;
}
.inputBox {
    padding: 15px;
    margin: 15px;
    width: 400px;
    background-color: white;
    border-radius: 3%;
    border: none;

}
.searchBtn {
    border: none;
    background-color: #A7B99E;
    padding: 15px;
    border-radius: 5%;
    color: #5f6063;
    font-weight: bolder;
    font-family: "Montserrat", system-ui;

}
.searchBtn:hover {
    opacity: 0.9;
}
.serviceBoxText {
    font-family: "Montserrat", system-ui;
    padding: 30px;
}
h3, h4 {
    font-family: "Montserrat", system-ui;
}
.slideText {
    background-color: white;
    opacity: 0.8;
    color: #5f6063;
    font-family: "Montserrat", system-ui;
    font-weight: bolder;
}
.slideTitle {
    font-size: 30px;
    font-weight: bold;
}
.aboutHeader {
    display: flex;
    padding: 20px;
}
@media all and (max-width: 500px) {

    .slideFrame {
        width: 400px;
    }
    html, body {
overflow-x: hidden;
}
.inputBox {
    width: 320px;
    padding: 4px;
}
.searchBtn {
margin: 30px;
}

}
