video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    top:0;
    left:0;
    Z-index: -1;
}
.header {
color: white;
text-align: center;
padding: 300px;
}
#about {
    background-color: #CADABF;
}
h2 {
    padding: 20px;
}
.title {
    font-size: 30px;
}